body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  text-align: center;
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: contain;
  background-position: center;
  transition: filter 1s ease-in-out;
  z-index: -3;
}

.blurred {
  filter: blur(20px);
}

.clear {
  filter: blur(0px);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-bottom: 1rem;
}

.title-image {
  width: 100%;
  max-width: 600px;
  z-index: 100;
}

.spin-count-toggle {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.spin-count {
  font-weight: bold;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 450px;
  height: 450px;
  margin: 0 auto 10px;
  background: url("./Assets/Edge.png") no-repeat center center;
  background-size: contain;
}

.custom-pointer path {
  fill: #b00f22 !important;
}

.spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background: url("./Assets/Button.png") no-repeat center center;
  background-size: cover;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.spin-button::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  width: 150px;
  height: 150px;
  background: url("./Assets/Border.png") no-repeat center center;
  background-size: contain;
  z-index: -1;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.pointer {
  width: "150px";
  height: "150px";
  position: "absolute";
  top: "-50px";
  right: "-40px";
  transform: "translateX(-50%) rotate(90deg)";
}

@media (max-width: 768px) {
  .pointer {
    width: 100px;
    height: 100px;
    top: -40px;
    right: -30px;
  }
}

@media (max-width: 480px) {
  .pointer {
    width: 80px;
    height: 80px;
    top: -30px;
    right: -20px;
  }
}

.poster-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  padding-bottom: 50px;
}

.poster-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("./Assets/poster.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.poster-button {
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: linear-gradient(to right, #ffffff, #f3f3f3);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  max-width: 100vw;
  width: 800px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  animation: slideIn 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-message {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
.youtube-video {
  width: 100%;
  max-width: 560px;
  height: 315px;
  margin: 20px 0;
}

.animation {
  min-height: 100vh;
  animation: fadeIn 0.8s ease-in-out;
}

.footer-image {
  width: 100vw;
  height: 40%;
  object-fit: cover;
}

.close-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .footer-image {
    display: none;
  }

  .poster-button {
    position: absolute;
    top: 50%;
    left: 40%;
  }
}

@media screen and (min-width: 800px) {
  .poster-button {
    position: absolute;
    top: 50%;
    left: 45%;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .app-container {
    padding: 0rem;
    overflow-y: hidden;
  }

  .title {
    margin-left: -10px;
  }

  .wheel-container {
    width: 80vw;
    height: 80vw;
  }

  .popup-content {
    width: 80%;
    padding: 20px;
    margin-top: 90px;
  }

  .popup-message {
    font-size: 16px;
  }
  .popup-overlay {
    width: 100%;
  }

  .youtube-video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .footer-image {
    display: none;
  }
}
